@font-face {
  font-family: "Plastic Sans";
  src: url("../fonts/PlasticSans-Bold.woff2") format("woff2"),
    url("../fonts/PlasticSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plastic Sans";
  src: url("../fonts/PlasticSans.woff2") format("woff2"),
    url("../fonts/PlasticSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trip Sans";
  src: url("../fonts/TripSans-Regular.woff2") format("woff2"),
    url("../fonts/TripSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trip Sans Mono";
  src: url("../fonts/TripSansMono-Regular.woff2") format("woff2"),
    url("../fonts/TripSansMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
