/* ----------------------------------------------------- */
/* VARIABLES */
/* ----------------------------------------------------- */
:root {
  /* ---- Colors ---- */
  --tomato-red: #ff5d5d;
  --dark-grey: #333333;
  --light-gray: #f3f3f3;
  --very-light-orange: #f9f1ec;
  --form-green: #35e0a1;

  --black: #000000;
  --white: #ffffff;

  --hover-effect-black: rgba(0, 0, 0, 0.5);

  /* --- Fonts --- */
  --main-font-reg: "Trip Sans Reg";
  --main-font-bold: "Trip Sans Med";
  --second-font: Georgia, "Times New Roman", Times, serif;
}

/* ----------------------------------------------------- */
/* GLOBAL RULES */
/* ----------------------------------------------------- */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font-reg);
  color: var(--dark-grey);
}
.container {
  width: 1140px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: var(--main-font-reg);
  color: var(--dark-grey);
}
button:focus {
  outline: none;
}

/* ----------------------------------------------------- */
/* TITLES */
/* ----------------------------------------------------- */
h1 {
  font-size: 54px;
  font-family: var(--main-font-bold);
  font-weight: bold;
}
h2 {
  font-size: 28px;
  font-family: var(--main-font-bold);
  color: var(--black);
}
h3 {
  font-size: 32px;
  font-family: var(--main-font-reg);
  color: var(--black);
}
h4 {
  font-size: 24px;
}

/* ----------------------------------------------------- */
/* COLORS */
/* ----------------------------------------------------- */
.red {
  color: var(--tomato-red);
}

/* ----------------------------------------------------- */
/* BUTTONS */
/* ----------------------------------------------------- */
.button {
  font-family: inherit; /* Arial by default */
  background-color: var(--black);
  color: var(--white);
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 20px;
}
/* Hover */
.button:hover {
  filter: opacity(75%);
  cursor: pointer;
}

/* ----------------------------------------------------- */
/* HIDDEN HTML ITEMS */
/* ----------------------------------------------------- */
.hidden {
  display: none;
}

/* ----------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------- */
header {
  background-color: var(--white);
  margin-bottom: 20px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

/* Logo */
header img {
  width: 190px;
}

/* Navigation */
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav ul {
  display: flex;
}
.header-nav ul li {
  padding: 10px;
  border-radius: 20px;
  font-family: "Trip Sans Reg";
}
.header-nav li a {
  text-decoration: none;
  color: var(--black);
  margin-left: 5px;
}
.header-nav .nav-icon {
  font-size: 20px;
}
/* Hover */
.header-nav ul li:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}
/* Button (Cf. Global rules) */
header button {
  margin-left: 20px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* !! A VOIR - Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* !! A VOIR - Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
/*---------------------*/
/* FORM */
/*---------------------*/
.modal .wrap-form {
  background-color: var(--form-green);
  margin: 0 auto;
  height: auto;
  width: 50vw;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  box-shadow: 2px 2px 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.modal .wrap-form h1 {
  font-size: 22px;
  font-weight: bold;
}
form {
  padding-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap-form h1 {
  color: black;
}
form p {
  text-align: left;
  font-size: 10px;
}
form input,
form textarea {
  width: 90%;
  font-family: var(--main-font-reg);
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}
form input {
  height: 40px;
  margin-bottom: 15px;
}
form input:first-child {
  margin-top: 50px;
}
form textarea {
  height: 150px;
}
form input[type="submit"] {
  background-color: var(--white);
  color: var(--tomato-red);
  margin-top: 20px;
  font-family: var(--main-font-bold);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: var(--tomato-red);
  color: var(--white);
}

/* The close button */
.close {
  color: var(--black);
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 30px;
  right: 40px;
}
.close:hover,
.close:focus {
  color: var(--white);
  cursor: pointer;
}

/* ----------------------------------------------------- */
/* MAIN */
/* ----------------------------------------------------- */
main {
  background-color: var(--white);
}

/* Navigation tabs */
main nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
main nav div {
  display: flex;
  flex: 1;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid var(--black);
  border-radius: 15px;
  padding: 20px;
}
main nav div:not(:last-child) {
  margin-right: 15px;
}
main nav div span {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Hover */
main nav div:hover {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

/* Images (x3) */
.pictures {
  display: flex;
  height: 430px;
  margin-top: 30px;
  width: 100%;
}
.pictures .col-1 {
  height: 100%;
  flex: 1;
  margin-right: 2px;
  position: relative;
}
.pictures .col-2 {
  height: 100%;
  width: 40%;
}
.pictures .col-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pictures .col-2 img {
  height: calc(50% - 1px);
  width: 100%;
  object-fit: cover;
}
.pictures .col-2 img:last-child {
  margin-top: 2px;
}
/* Hover */
.pictures img:hover {
  opacity: 80%;
  cursor: pointer;
}

/* Button on picture */
.pictures .col-1 div {
  position: absolute;
  font-size: 12px;
  z-index: 1;
  top: 380px;
  left: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Hover */
.pictures .col-1 div:hover {
  filter: none;
  background-color: var(--hover-effect-black);
}
.pictures .button .picto-pic {
  font-size: 15px;
  margin-right: 5px;
}

/* Small nav under images */
.mini-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
}
.mini-nav nav {
  margin-top: 0;
}
.mini-nav nav > span,
.mini-nav nav .icon-caret {
  margin: 0 8px;
}
.mini-nav nav a:hover {
  text-decoration: underline;
}

/* intro */
.intro {
  display: flex;
  margin-top: 40px;
  margin-bottom: 80px;
}
.intro .col-1 p {
  font-size: 20px;
  font-family: var(--second-font);
  margin-top: 15px;
  line-height: 25px;
}
.intro .col-1 {
  width: 50%;
}
.intro .col-2 {
  width: calc(50% - 100px);
  margin-left: 100px;
}
.intro .col-2 h3 {
  line-height: 35px;
  margin-bottom: 15px;
}
.intro button {
  padding: 18px;
  margin: 30px 0 0 0;
  cursor: pointer;
}
.intro .col-2 div:first-child button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.intro .col-2 div:first-child {
  background-color: var(--tomato-red);
  height: 274px;
  border-radius: 10px 10px 0 0;
  padding: 30px 30px;
}
.intro .col-2 div:last-child {
  height: 190px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 10px 10px;
}

/* Section 1 */
.section-1 h2 {
  margin-bottom: 30px;
}
/* --- aside */
.carousel-wrapper {
  display: flex;
  width: 100%;
}
.carousel-wrapper > div:first-child {
  width: 25%;
  padding: 10px 30px 0 0;
}
.carousel-wrapper > div:last-child {
  width: 75%;
}
.carousel-wrapper p {
  font-size: 18px;
  font-family: var(--second-font);
  line-height: 22px;
  margin: 20px 0;
}
.carousel-wrapper a {
  font-size: 14px;
  font-weight: bold;
  font-family: var(--main-font-bold);
}
.carousel-wrapper a:hover {
  text-decoration: underline;
}
/* --- carousel */
.carousel-wrapper .col-2 {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.carousel-wrapper .col-2 > div {
  width: calc(100% / 3 - (30px / 3));
  flex-shrink: 0;
}
.carousel-wrapper .col-2 > div:not(:last-child) {
  margin-right: 15px;
}
.carousel-wrapper .col-2 img {
  width: 100%;
}
.carousel-wrapper .col-2 .img-icon {
  position: relative;
}
.carousel-wrapper .col-2 .icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-wrapper .col-2 .heart {
  font-size: 20px;
}
.carousel-wrapper .col-2 span + a {
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
}
.carousel-wrapper .col-2 a:first-child,
.carousel-wrapper .col-2 a:last-child {
  display: block;
}
.carousel-wrapper .col-2 a:first-child {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.carousel-wrapper .col-2 a:last-child {
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
}
.carousel-wrapper .col-2 .picto-circle {
  font-size: 12px;
}

/* Section 2 */
.section-2 {
  width: 100%;
  margin-top: 70px;
}
.guide-wrapper {
  width: 100%;
  height: 450px;
  display: flex;
  margin-top: 30px;
  overflow: hidden;
}
.guide-wrapper > div {
  flex-shrink: 0;
  width: calc(100% / 3 - (20px / 2));
}
.guide-wrapper > div:not(:last-child) {
  margin-right: 20px;
}
.guide-wrapper img {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
  object-fit: cover;
}
.guide-wrapper p {
  font-size: 14px;
  margin-top: 5px;
}
.guide-wrapper a {
  display: inline-block;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
}
.guide-wrapper .col-title {
  font-size: 18px;
}
.guide-wrapper .brand {
  width: 25px;
  height: auto;
  margin-bottom: -5px;
  margin-right: 5px;
}

/* Footer */
footer {
  background-color: var(--very-light-orange);
  height: 80px;
}
footer p {
  text-align: center;
  font-size: 12px;
  padding-top: 34px;
}
footer a {
  font-family: var(--main-font-bold);
  font-weight: bold;
  color: var(--tomato-red);
}

/* ----------------------------------------------------- */
/* MEDIA QUERIES */
/* ----------------------------------------------------- */
@media screen and (max-width: 1160px) {
  .container {
    width: 100vw;
  }
}

@media screen and (max-width: 1180px) and (min-width: 1024px) {
  /* Main - navigation tabs */
  main .main-nav {
    flex-wrap: wrap;
    padding-right: 0;
  }
  main .main-nav div:not(:last-child),
  main .main-nav div:last-child {
    margin-right: 0;
  }
  main .main-nav div {
    flex: initial;
    width: calc(25% - 15px);
    margin-bottom: 15px;
    margin-right: 15px;
  }
  main .main-nav div span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: initial;
  }
  main .main-nav .hidden {
    display: inherit;
  }

  /* Images (x3)*/
  .pictures {
    height: 375px;
    margin-top: 15px;
  }
  .pictures .col-1 div {
    top: 325px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {
  .container {
    width: 100vw;
  }
  .container h1 {
    padding-left: 20px;
  }
  /* Header */
  header .container {
    padding: 0 20px;
  }
  header img {
    width: 170px;
  }
  .header-nav nav li a {
    display: none;
  }
  .header-nav .nav-icon {
    margin-left: 10px;
  }

  /* Modal */
  .modal .wrap-form {
    width: 60vw;
  }

  /* Main - navigation tabs */
  main .main-nav {
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--light-gray);
    margin-bottom: -30px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  main .main-nav div:not(:last-child),
  main .main-nav div:last-child {
    margin-right: 0;
  }
  main .main-nav div {
    flex: initial;
    width: calc(25% - 15px);
    margin-bottom: 15px;
    margin-right: 15px;
  }
  main .main-nav div span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: initial;
  }
  main .main-nav .hidden {
    display: inherit;
  }

  /* Images (x3)*/
  .pictures {
    height: 278px;
  }
  .pictures .col-2 img {
    object-position: top;
  }
  .pictures .col-1 div {
    top: 230px;
  }

  /* Small nav under images */
  .mini-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    font-size: 12px;
    margin-top: 20px;
    padding-left: 20px;
  }

  /* Intro */
  .intro {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .intro .col-1 {
    width: 100%;
    margin-bottom: 50px;
  }
  .intro .col-2 {
    display: flex;
    width: 100%;
    margin: 0;
  }
  .intro .col-2 div {
    width: 50%;
  }
  .intro .col-2 div:first-child {
    border-radius: 10px 0 0 10px;
  }
  .intro .col-2 div:last-child {
    border-radius: 0 10px 10px 0;
  }

  /* Section 1 */
  .section-1 {
    padding-left: 20px;
  }
  .carousel-wrapper {
    width: 100%;
  }

  /* Section 2 */
  .section-2 {
    margin-left: 0px;
    padding-left: 20px;
  }
  .guide-wrapper {
    width: calc(100%);
    overflow-x: scroll;
  }
  .guide-wrapper > div {
    width: calc(100% / 2.5 - (20px / 3));
    overflow: hidden;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 768px) {
  /* Header */
  header {
    position: relative;
  }
  header img {
    width: 120px;
  }
  header .container {
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
  }
  header button {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-nav .nav-icon {
    margin-left: 10px;
  }
  .hidden {
    display: inherit;
    cursor: pointer;
  }

  /* Main - navigation tabs */
  h1 {
    font-size: 32px;
    margin-left: 20px;
  }

  /* Main - navigation tabs */
  main nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    overflow: hidden;
    overflow-x: scroll;
    padding-left: 20px;
  }
  main nav div span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Images (x3)*/
  .container {
    padding: 0;
  }
  .pictures {
    height: 278px;
  }
  .pictures .col-1 {
    width: 100vw;
    flex: 0 0 auto;
    margin-right: 0;
  }
  .pictures .col-2 {
    display: none;
  }
  .pictures .col-1 div {
    top: 230px;
  }

  /* mall nav under images */
  .mini-nav {
    display: none;
  }

  /* Intro */
  .intro {
    flex-direction: column;
    margin-bottom: 0;
  }
  .intro .col-1 {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .intro .col-1 h2 {
    font-size: 28px;
  }
  .intro .col-1 p {
    font-size: 16px;
  }
  .intro .col-2 {
    width: calc(100% - 40px);
    height: 425px;
    margin-left: 20px;
    margin-bottom: 40px;
  }
  .intro .col-2 div:first-child {
    border-radius: 10px 10px 0 0;
  }
  .intro .col-2 div:last-child {
    border-radius: 0 0 10px 10px;
  }
  .intro button {
    margin: 10px 0 0 0;
  }

  /* section-1 */
  .section-1 {
    padding: 20px 0 0 20px;
  }
  .carousel-wrapper {
    flex-direction: column;
  }
  .carousel-wrapper > div:first-child {
    padding: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .carousel-wrapper > div:last-child {
    width: 100%;
  }
  .carousel-wrapper .col-2 > div {
    width: 80%;
  }

  /* Section 2 */
  .section-2 {
    margin-left: 0;
  }
  .guide-wrapper {
    overflow-x: scroll;
    width: 100%;
  }
  .guide-wrapper > div {
    width: calc(100% / 2.5 - (20px / 2));
    overflow: scroll;
  }
}

@media screen and (max-width: 723px) {
  /* Intro */
  .intro {
    margin-bottom: 0;
  }
  .intro .col-2 h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .intro .button {
    font-size: 14px;
  }
  /* Section 2 */
  .section-2 {
    width: calc(100% - 20px);
    overflow-x: scroll;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
  }
  .guide-wrapper > div {
    width: calc(100% / 1.5 - (20px / 3));
    overflow: hidden;
  }
}
