/* --------------------- */
/* FONTS */
/* --------------------- */

/* --------------------- */
/* GLOBAL RULES */
/* --------------------- */
body {
  /* background-color: rgb(199, 191, 191); */
  font-family: "Trip Sans";
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* --------------------- */
/* TITLES */
/* --------------------- */
h1 {
  font-size: 54px;
  font-family: "Plastic Sans";
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

/* --------------------- */
/* COLORS */
/* --------------------- */
.red {
  color: #ff5d5d;
}

/* --------------------- */
/* BUTTONS */
/* --------------------- */
.button {
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 20px;
  margin-left: 20px;
}
.button:hover {
  filter: opacity(75%);
  cursor: pointer;
}

/* --------------------- */
/* HEADER */
/* --------------------- */
header {
  background-color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 101px;
}

/* Logo */
header img {
  width: 190px;
}

/* Search bar */
header input {
  width: 350px;
  height: 38px;
  border-radius: 8px;
  border: 2px rgb(231, 231, 231) solid;
  margin-left: -100px;
  padding-left: 45px;
}

.search .glass {
  position: relative;
  right: 60px;
  top: 3px;
  font-size: 20px;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
}

nav ol {
  display: flex;
}

nav ol li {
  padding: 10px;
  border-radius: 20px;
  font-family: "Trip Sans";
}
nav ol li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

header nav button {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

header nav button:hover {
  cursor: pointer;
}

/* --------------------- */
/* MAIN */
/* --------------------- */
main {
  padding-top: 20px;
  /* border: 1px solid red; */
  background-color: white;
}

main nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

main nav div {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 87px;
  width: 148px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
}
main nav div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Images x3 + button */
.part-1 button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 440px;
  z-index: 1;
  font-size: 12px;
}
.part-1 button:hover {
  z-index: 1;
  filter: none;
  background-color: rgba(31, 30, 30, 0.9);
}

.part-1 button .picture {
  font-size: 18px;
  margin-right: 8px;
}

.col-1 {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paris-2,
.paris-3 {
  object-fit: cover;
  width: 483px;
  height: 215px;
}

.paris-1 {
  width: 655px;
  height: 432px;
}

.paris-1:hover,
.paris-2:hover,
.paris-3:hover {
  opacity: 80%;
  cursor: pointer;
}

/* Small nav */
.mini-nav {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.small-nav {
  font-size: 12px;
  padding: 0;
  margin-top: 0;
}

.small-nav ul {
  display: flex;
}

.small-nav ul li {
  margin: 0 8px 0 8px;
}

.small-nav ul li:nth-child(1) {
  margin-left: 0;
}

.small-nav a {
  text-decoration: none;
  color: rgb(48, 47, 47);
}
.small-nav a:hover {
  text-decoration: underline;
}
/* Colonnes */
.colonnes {
  display: flex;
  justify-content: space-between;
}

.intro h2,
.trip {
  margin-top: 30px;
}

.intro p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #413f3f;
  margin-top: 15px;
  margin-right: 70px;
  padding-right: 40px;
  line-height: 25px;
}

.trip {
  width: 465px;
}

.trip .button {
  padding: 18px;
  margin: 30px 0 0 0;
}

.trip h3 {
  line-height: 35px;
  margin-bottom: 15px;
}

.trip > div {
  background-color: #ff5d5d;
  border-radius: 10px 10px 0 0;
  padding: 30px 20px;
}

.trip img {
  width: 465px;
  height: 190px;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}

/* --------------------- */
/* FOOTER */
/* --------------------- */
